{% extends "encyclopedia/layout.html" %}
{% load static %}



{% block title %}
    Encyclopedia
{% endblock %}

{% block body %}

<style> 
    input[type=submit] {
      background-color: #0465aa;
      border: none;
      color: white;
      padding: 13px 25px;
      border-radius: 25px;
      text-decoration: none;
      margin: 4px 2px;
      cursor: pointer;
    }
    </style>


    <h1>Edit Entry</h1>

    <form action="{% url 'editPage' %}" method="POST">
        {% csrf_token %}
        <label> Name of Page</label>
        <input type="text"  name="title" placeholder="Enter a title" value="{{ title }}">
       
        <section>
            <label>Markdown Content:</label>
        </section>
        
        <textarea name="content">{{ content }}</textarea>
        <section>
            <input type="submit" value="Edit Page" class="btn-1">

        </section>
    </form>

    


{% endblock %}